<table class="table table-striped" ng-init="getProjects();">
    <thead>
        <tr>
            <th>Project</th>
            <th><center>Action</center></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(projectName, projectValue) in projects">
            <td>{{projectName}}</td>
            <td>
                <button class="btn btn-success" ng-click="pushAProject(projectValue)" style="width: 100%;">
                    Push
                </button>
            </td>
        </tr>
    </tbody>
</table>

<br>
<div ng-hide="loading === null">
    <h3>Output</h3>
    <pre><span ng-show="loading === false">{{output}}</span>
        <span ng-show="loading === true">Loading...</span>
    </pre>
</div>